 <div class="modal-header">
  <button type="button" class="close" ng-click="cerrar()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Ayuda</h4>
</div>
<div class="modal-body">
  <p>Este software persiste el estado luego del termino de cada paso del proceso, por tanto sientente libre de refrescar.</p>
  <p>Los comentarios referentes de cada paso los encontraras en el centro de la pantalla, en caso de que se muestre el mapa, estaran por debajo del mismo.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="contacto()" data-dismiss="modal">Necesita más ayuda?</button>
  <button type="button" class="btn btn-success" ng-click="cerrar()">Suficiente?</button>
</div>
