<div class="col-12-xs">
  <div class="panel panel-default">
    <div class="panel-heading" style="overflow: hidden">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Buscar Semillas</h4>
      <div class="btn-group pull-right">
        <button ng-click="config()" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
    </div>
    <div class="panel-body" id="calcular_vecinos">
      <p>
        Cantidad de semillas: {{clusters_cantidad}}
      </p>
      <p>
        Total: {{total}}
      </p>
      <p>
        Objetivo: {{objetivo}}
      </p>
      <p>
        Distancia Objetivo: {{radio_preferencial}}
      </p>
    </div>
    <div class="panel-footer text-center">
      <p class="btn-group" ng-show="!hacer_todo">
        <button ng-click="mc()" ng-disabled="!(mejor_cluster == false)" type="button" class="btn btn-default">Mejor Cluster</button>
        <button ng-click="pp()" ng-disabled="!(mejor_cluster && poligonos_posibles == false)" type="button" class="btn btn-default">Poligonos Posibles</button>
        <button ng-click="mp()" ng-disabled="!(poligonos_posibles && mejor_poligono == false)" type="button" class="btn btn-default">Mejor Poligono</button>
        <button ng-click="actualizar()" ng-disabled="(mejor_poligono == false)"type="button" disabled class="btn btn-default">Actualizar Cluster</button>
      </p>
      <div ng-show="hay_punto_muerto">
        <div class="alert alert-danger" role="alert">Se encontro un Punto Muerto!</div>
      </div>
      <div>
        <button ng-click="completo()" ng-disabled="(mejor_cluster != false)"type="button" disabled class="btn btn-primary"><i class="glyphicon glyphicon-play"></i></button>
        <button ng-click="pausa()" ng-disabled="(hacer_todo != true)" type="button" disabled class="btn btn-primary"><i class="glyphicon glyphicon-pause"></i></button
      </div>
    </div>
  </div>
</div>
