<div class="col-12-xs">
  <div class="panel panel-default">
    <div class="panel-heading">
      Buscar Semillas
    </div>
    <div class="panel-body" id="calcular_vecinos">
      <p>
        Cantidad de semillas: {{clusters_cantidad}}
      </p>
      <p>
        Total: {{total}}
      </p>
      <p>
        Objetivo: {{objetivo}}
      </p>
      <p>
        Distancia Objetivo: {{radio_preferencial}}
      </p>
    </div>
    <div class="panel-footer text-center">
      <div class="btn-group" ng-show="!hacer_todo">
        <button ng-click="mc()" ng-disabled="!(mejor_cluster == false)" type="button" class="btn btn-default">Mejor Cluster</button>
        <button ng-click="pp()" ng-disabled="!(mejor_cluster && poligonos_posibles == false)" type="button" class="btn btn-default">Poligonos Posibles</button>
        <button ng-click="mp()" ng-disabled="!(poligonos_posibles && mejor_poligono == false)" type="button" class="btn btn-default">Mejor Poligono</button>
        <button ng-click="juntar()" ng-disabled="(mejor_poligono == false)"type="button" disabled class="btn btn-default">Actualizar Cluster</button>
      </div>
      <div ng-show="hay_punto_muerto">
        <div class="alert alert-danger" role="alert">Se encontro un Punto Muerto!</div>
      </div>
      <button ng-click="completo()" ng-disabled="(mejor_cluster != false)"type="button" disabled class="btn btn-primary">Completo</button>
    </div>
  </div>
</div>
