<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Link
    </div>
    <div class="panel-body" id="calcular_vecinos">
      Selecciona el poligo que deseas unir, se marcaran los poligonos candidatos a ser unidos, selecciona uno y se uniran.
      Cuando termines haz click en "Siguiente".
    </div>
    <div class="panel-body text-center" id="calcular_vecinos" >
      <button ng-click="proximo()" type="button" class="btn btn-primary">Siguiente</button>
    </div>
  </div>
</div>
