<div class="col-12-xs">
  <div class="panel panel-default">
    <div class="panel-heading">
      Creando indices
    </div>
    <div class="panel-body" id="calcular_vecinos">
      <progressbar animate="false" max="ol_features.length" min="0" class="progress-striped active" value="proceso_indices">{{proceso_indices}}/{{ol_features.length}}</progressbar>
    </div>
    <div class="panel-footer text-right">
      <div ng-show="!listo">
        <button ng-show="preferences.debug" ng-click="init()" type="button" class="btn btn-primary">Proximo</button>
        <button ng-show="preferences.debug" ng-click="init_all()" type="button" class="btn btn-primary">Todos</button>
      </div>
      <button ng-show="listo" ng-click="proximo()" type="button" class="btn btn-primary">Siguiente</button>
    </div>
  </div>
</div>
